<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing testng">
	
	<parameter name="browser" value="chrome" />
	<parameter name="url" value="https://opensource-demo.orangehrmlive.com/" />
	<test name="ParametersTest">
		<classes>
			<class name="parameters.ParametersExample"></class>
		</classes>
	</test>
	
	<parameter name="browser" value="firefox" />
	<parameter name="url" value="https://opensource-demo.orangehrmlive.com/" />
	<test name="ParametersTest1">
		<classes>
			<class name="parameters.ParametersExample"></class>
		</classes>
	</test>
</suite>